{% extends 'base.html.twig' %}

{% block title %}Objednávkový formulář!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class = " btn btn-success">Odeslat</button>
    {{ form_end(form) }}

{% endblock %}
