<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand text-success">Re-Taška</a>
        <button class = "navbar-toggler" type="button"
                data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=".collapse.navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-right">
                <li class="nav-item">
                    <a href="/" class="nav-link">Domů</a>
                </li>
                <li class="nav-item">
                    <a href="/produkty" class="nav-link">Produkty</a>
                </li>
                <li class="nav-item">
                    <a href="/Kontakt" class="nav-link">777 666 555</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/product" class="nav-link">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/product" class="nav-link">Správa produktů</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category" class="nav-link">Správa kategorií</a>
                </li>
            </ul>
        </div>
    </div>
</nav>