<footer class="footer">
    <div class="container text-center">
                <span class="text-muted">
                    | 777 666 555 | info@retaska.cz | © Re-taška 2020 |
                </span>
    </div>
</footer>