<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand text-success">Re-Taška</a>
        <button class = "navbar-toggler" type="button"
                data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=".collapse.navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-right">
                <li class="nav-item">
                    <a href="/" class="nav-link">Domů</a>
                </li>
                <li class="nav-item">
                    <a href="/produkty" class="nav-link">Produkty</a>
                </li>
                <li class="nav-item">
                    <a href="/Kontakt" class="nav-link">777 666 555</a>
                </li>
                <li class="nav-item">
                    <a href="/basket" class="nav-link">Košík</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/product" class="nav-link">Admin</a>
                </li>
                <form class="form-inline" action="{{ path('product_list_search') }}">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Co hledáte?" name="search">
                    <button type="submit" class="btn btn-success mb-2">Hledat</button>
                </form>
            </ul>
        </div>
    </div>
</nav>