
{% extends 'base.html.twig' %}

{% block title %}Hlavní strana{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://re-sack.com/wp-content/uploads/2018/06/Re-Sack-Canvas-bag-with-cut-handle-and-vegetable.jpg" class="card-img" alt="Bavlněná taška">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"> <strong class="text-success">Re-Taška</strong> mění nakupování a chrání oceány</h2>
                    <br>
                    <p class="card-text"> Jednorázové plastové výrobky patří mezi největší znečišťovatele životního prostředí na světě. Výrazný podíl na tom mají nákupní tašky a sáčky, které je přitom snadné vyrábět také z recyklovatelných materiálů. Přestože se již v řadě obchodů začaly objevovat papírové tašky, stále zůstává drtivá většina z nákupních tašek a sáčků dostupných v místech prodeje plastová.</p>
                    <p>Nemusíte hned změnit celý svět. Stačí začít u sebe. Nahraďte plastové tašky recyklovatelnými. </p>
                    <br>
                    <button type="button" class="btn btn-success">Zobrazit nabídku</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
